<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <!--^ 2025 sadaļa -->
  <p class="col-12 col-md-4 mb-0 text-body-secondary text-center text-md-start">© 2025 Vecmāmiņas.lv</p>

  <!--^ Sociālie tīkli -->
  <div class="col-12 col-md-4 d-flex align-items-center justify-content-center text-center mt-md-3">
    <ul class="list-unstyled d-flex justify-content-center flex-wrap">
      <li class="m-2 mt-4">
        <img src="../assets/images/youtube.svg" alt="YouTube" style="width: 30px; height: 30px;">
      </li>
      <li class="m-2 mt-4" style="display: none;">
        <img src="../assets/images/instagram.svg" alt="Instagram" style="width: 30px; height: 30px;">
      </li>
      <li class="m-2 mt-4">
        <a href="https://www.facebook.com/groups/1164997355016807" target="_blank"><img
            src="../assets/images/facebook-mid.svg" alt="Facebook" style="width: 30px; height: 30px;"></a>
      </li>
    </ul>
  </div>

  <!--^ Links sadaļa -->
  <div class="nav col-12 col-md-4 justify-content-center text-md-end footer-nav">
    <ul class="nav col-12 col-md-4 justify-content-center text-md-end footer-nav">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">
          Homepage</a></li>
      <li class="nav-item"><a href="http://www.vecmaminas.lv/pages/about-us.html"
          class="nav-link px-2 text-body-secondary">
          About us</a></li>
      <li class="nav-item"><a href="http://www.vecmaminas.lv/pages/topicality.html"
          class="nav-link px-2 text-body-secondary">
          News</a>
      </li>
      <li class="nav-item"><a href="http://www.vecmaminas.lv/pages/projects.html"
          class="nav-link px-2 text-body-secondary">
          Projects</a></li>
      <li class="nav-item"><a href="http://www.vecmaminas.lv/pages/involved.html"
          class="nav-link px-2 text-body-secondary">
          Get involved</a>
      </li>
      <li class="nav-item"><a href="http://www.vecmaminas.lv/pages/recommend.html"
          class="nav-link px-2 text-body-secondary">
          Recommend</a></li>
      <li class="nav-item"><a class="nav-link px-2 text-body-secondary"
          href="https://www.facebook.com/groups/1164997355016807" target="_blank">
          Gallery</a></li>
      <li class="nav-item"><a href="http://www.vecmaminas.lv/pages/privacyPolicy.html"
          class="nav-link px-2 text-body-secondary">
          Privacy policy</a></li>
    </ul>
  </div>

  <div id="contact-pop-up" class="hidden"></div>
  <div id="scroll-to-top" class="justify-content-center align-items-center flex-column"></div>

</footer>

<div class=" made-by text-center"><a href="https://eamon9.github.io/CapstoneProject2/" target="_blank">
    Developed by <strong id="proA"><span>A </span><u><span id="pro">PRO</span></u></strong>grammer <strong
      id="proA">I.B.</strong></a>
</div>