<header class="border-bottom">

  <div id="mainLOGO" class="px-4 my-2">
    <a href="/">
      <img class="d-block mx-auto" src="../assets/images/granniesLogo.png" alt="grannies logo" width="200" height="200">
    </a>

  </div>

  <!--^ Sākumlapa, Par mums, Aktualitātes, Projekti, Vēlos iesaistīties, Galerija, Resursu krātuve -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Twelfth navbar example">
    <div class="container-fluid">

      <div class="navbar-collapse justify-content-md-center" id="navbarsExample10">
        <ul class="navbar-nav">
          <!--* Sākumlapa -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" aria-current="page" href="/" data-bs-toggle="dropdown"
              aria-expanded="false">Homepage</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/#welcome">Welcome</a>
              </li>
            </ul>
          </li>

          <!--* Par mums -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://www.vecmaminas.lv/pages/about-us.html" data-bs-toggle="dropdown"
              aria-expanded="false">
            About us</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="http://www.vecmaminas.lv/pages/about-us.html#members">
                  We</a></li>
              <li><a class="dropdown-item" href="http://www.vecmaminas.lv/pages/about-us.html#statute">
                  Statute</a></li>
              <li><a class="dropdown-item" href="http://www.vecmaminas.lv/pages/about-us.html#accreditation">
                  Accreditation</a></li>
              <li><a class="dropdown-item" href="http://www.vecmaminas.lv/pages/about-us.html#supporters">
                  Supporters and Cooperation partners</a></li>
              <li><a class="dropdown-item" href="http://www.vecmaminas.lv/pages/about-us.html#contacts">
                  Contacts</a></li>
            </ul>
          </li>

          <!--* Aktualitātes -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://www.vecmaminas.lv/pages/topicality.html" data-bs-toggle="dropdown"
              aria-expanded="false">News</a>
            <ul class="dropdown-menu">

              <li><a class="dropdown-item" href="http://www.vecmaminas.lv/pages/topicality.html#university">
                  Third generation university</a></li>

              <li><a class="dropdown-item" href="http://www.vecmaminas.lv/pages/topicality.html#events">
                  Events</a></li>

            </ul>
          </li>

          <!--* Projekti -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://www.vecmaminas.lv/pages/projects.html" data-bs-toggle="dropdown"
              aria-expanded="false">Projects</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="http://www.vecmaminas.lv/pages/projects.html#current">Current</a></li>
              <li><a class="dropdown-item" href="http://www.vecmaminas.lv/pages/projects.html#realized">Realized</a>
              </li>
            </ul>
          </li>

          <!--* Vēlos iesaistīties -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://www.vecmaminas.lv/pages/involved.html" data-bs-toggle="dropdown"
              aria-expanded="false">Get involved</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="http://www.vecmaminas.lv/pages/involved.html#howToApply">How to join?</a></li>
              <li><a class="dropdown-item" href="http://www.vecmaminas.lv/pages/involved.html#university">Third generation university</a>
              <li><a class="dropdown-item" href="http://www.vecmaminas.lv/pages/involved.html#donate" style="display: none;">Donate</a>
              </li>
            </ul>
          </li>

          <!--* Iesakām -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://www.vecmaminas.lv/pages/recommend.html" data-bs-toggle="dropdown"
              aria-expanded="false">Recommend</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="http://www.vecmaminas.lv/pages/recommend.html#check">Take a look</a>
              </li>
            </ul>
          </li>

          <!--* Galerija -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Gallery</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="http://www.vecmaminas.lv/assets/documents/kalendars.pdf" target="_blank">Calendar</a></li>
              <li><a class="dropdown-item" href="http://www.facebook.com/groups/1164997355016807"
                  target="_blank">Facebook</a></li>
              <li style="display: none;"><a class="dropdown-item" href="http://www.instagram.com"
                  target="_blank">Instagram</a></li>
              <li><a class="dropdown-item" href="http://www.youtube.com" target="_blank">Youtube</a></li>
            </ul>
          </li>

          <!--* Privātuma politika -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://www.vecmaminas.lv/pages/privacyPolicy.html" data-bs-toggle="dropdown"
              aria-expanded="false">Privacy policy</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="http://www.vecmaminas.lv/pages/privacyPolicy.html#pr">Policies</a>
              </li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>